{
  verifyConditions: ['@conveyal/maven-semantic-release'],
  verifyRelease: ['@conveyal/maven-semantic-release'],
  prepare: ['@semantic-release/changelog', '@conveyal/maven-semantic-release', ['@semantic-release/git', {
    assets: ['pom.xml', 'CHANGELOG.md']
  }]],
  publish: ['@conveyal/maven-semantic-release'],
  success: false,
  fail: false
}
